@model A21WebApp.Models.CrenoHoraire
@{
    var ensignants = ViewData["Enseignants"] as IEnumerable<Enseignant> ;
    
    var ensignant = ensignants.FirstOrDefault(x => x.Id == Model.EnseignantID);
    var colorClass = ensignant?.Cours != null ? "module-" + ensignant?.Cours : "";
        
}
<div>
    <div class="row @colorClass">
        <p><b>@ensignant?.Cours</b></p>
        <p>@ensignant?.Nom @ensignant?.Prenom</p>

    </div>
</div>

