@model A21WebApp.Models.CrenoHoraire

<div>
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnseignantID)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.EnseignantID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periode)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Periode)
        </dd>
    </dl>
</div>

