@model A21WebApp.Models.CrenoHoraire
@{
    var ensignants = ViewData["Enseignants"] as IEnumerable<Enseignant> ;
}

<div>
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnseignantID)
        </dt>
        <dd class = "col-sm-12">
            @Html.DropDownListFor(m => m.EnseignantID,
            new SelectList(ensignants,"Id","Nom"),
            "Select Enseignant")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periode)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Periode)
        </dd>
    </dl>
</div>

